/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: 10;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

link[rel="icon"] {
  border-radius: 27px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}