<footer class="deals-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>TechWave Kenya</h3>
            <br>
            <p>Your trusted electronics partner in Nairobi and Meru</p>
            <div class="contact-info">
                <p>Email: techwaveelectronics4&#64;gmail.com</p>
                <p>Phone: +254 742 841406 / +254 741 677623</p>

                <div class="social-icons">
                    <p><a routerLink="https://wa.me/+254742841406" target="_blank"><i
                                class="fa-brands fa-whatsapp"></i></a></p>
                    <p><a routerLink="https://web.facebook.com/profile.php?id=61577689410885" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></p>
                    <p><a routerLink="http://instagram.com/techwave_.electronics/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></p>
                    <p><a routerLink="https://www.tiktok.com/@_.techwave" target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a></p>
                    <p><a routerLink="https://x.com/_techWave01" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a></p>
                </div>
            </div>
        </div>

        <div class="footer-section">
            <h4>Quick Links</h4>
            <br>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/shop">Shop</a></li>
                <li><a routerLink="/deals">Deals</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Deal Alerts</h4>
            <br>
            <p>Subscribe to get notified about new deals</p>
            <div class="subscribe-form">
                <input type="email" placeholder="Your email address">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="footer-section">
            <h4>We Accept</h4>
            <br>
            <div class="payment-methods">
                <div class="payment-method">M-PESA</div>
                <div class="payment-method">VISA</div>
                <div class="payment-method">MasterCard</div>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; 2025 TechWave Kenya. All rights reserved.
    </div>
</footer>